{
  "semi": false,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "trailingComma": "none"
}
